* {
  color: #696969;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 2vw;
}
main {
  position: relative;
  height: 90vh;
}
#banana {
  height: 25vw;
  width: 100vw;
}
#flex-row {
  display: flex;
  justify-content: flex-start;
}
#left-column {
  margin-left: 15vw;
  margin-top: -5vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: #696969;
  outline: none;
}
#logo {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  border: 1vw solid white;
  background: white;
}
ul li {
  list-style-type: none;
}
#nav {
  margin-left: .5vw;
  margin-top: 2vw;
}
#main-column {
  width:85vw;
  margin-top: 3vw;
  margin-bottom: 10vw;
}
.flex-item {
  padding-right: 10vw;
}
h1, h2 {
  font-family: "Lucida Grande", sans-serif;
}
h2 {
  padding: 1em 0 .9em 0;
}
h4 {
  padding: 1.5em 0 .9em 0;
  font-style: italic;
  font-size: .8em;
}
#shop {
  height: 40vw;
}
p:first-of-type {
  padding-bottom: 1em;
}
p:nth-of-type(2) {
  padding-bottom: 1em;
}
table tr:nth-child(odd) {
  background: AntiqueWhite;
}
table#flavors tr:hover {
  background: tan;
  cursor: pointer;
}
table#flavors tr:visited {
  background: tan; 
  cursor: pointer;
}
table tr td {
  padding-right: 1em;
}
table th {
  font-style: italic;
  padding-right: 1em;
  text-align: left;
}
#signoff {
  font-size: .5em;
  color: white;
  background: #696969;
  height: 8vw;
}
footer {
  position: fixed;
  height: 10vw;
  padding-left: 4vw;
}
footer img {
  height: 10vw;
  padding-bottom: 6vw;
}

