* {
  color: #696969;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 3vw;
}
main {
  position: relative;
  height: 90vh;
}
#banana {
  height: 25vw;
  width: 100vw;
}
#flex-row {
  display: flex;
  justify-content: flex-start;
}
#left-column {
  margin-left: 15vw;
  margin-top: -5vw;
  width: 20vw;
}
a {
  text-decoration: none;
  color: #696969;
  outline: none;
}
#logo {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  border: 1vw solid white;
  background: white;
}
ul li {
  list-style-type: none;
}
#nav {
  margin-left: .5vw;
  margin-top: 2vw;
}
#main-column {
  width:85vw;
  margin-top: 20vh;
}
h1, h2 {
  font-family: "Lucida Grande", sans-serif;
}
table tr:nth-child(odd) {
  background: AntiqueWhite;
}
table tr:hover {
  background: tan;
  cursor: pointer;
}
table tr:visited {
  background: tan; 
  cursor: pointer;
}
footer {
  position: fixed;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 4vh;
}

