html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
body {
  position: relative;
  font-family: serif;
  color: #696969;
}
a {
  color: #696969;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: "PT Sans Narrow";
  font-family: "Gill Sans";
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-family: "Lucida Grande", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
.logo{
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 50%;
  border: 8px solid white;
  margin-left: 10em;
  margin-top: -40px;
}
main {
  height: 100%;
  width: 100%;
  position: relative;
}
figure {
  font-style: italic;
  margin: 1.7em 0 0 0;
}
figcaption {
  padding-bottom: 1.2em;
}
#column1 {
  padding: 1%;
  margin-left: 10em;
  margin-top: 3em;
  width: 5%;
  height: 900px;
}
#column2 {
  width: 30em;
  height: 900px;
  margin-top: 2.1em;
  margin-left: 6em;
  margin-bottom: 10em;
}
#column3 {
  color: white;
  width: 10%;
  height: 900px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin-left: 0;
}
#titles td {
  font-style: italic;
}
.col1 {
  text-decoration: underline;
}
.col2 {
  text-align: center;
}
.col3 {
  text-align: center;
  padding-left: 1em;
}
#hours tr td {
  padding: 0 2em 0 0;
}
footer {
  position: relative;
  height: 100%
}
.footer {
  position: fixed;
  text-align: right;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 20px;
}
a img {
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

